*.aux
*.log
*.out
*.gz


*/_minted-source_code_test

/simple-booklet/out/chapter1
/simple-booklet/out/chapter2
/auxil
/out
*.toc
*.maf
*.mtc
*.mtc0
*.mtc1
*.mtc2
*.mtc3
*.mtc4
*.mtc5
*.undo
/simple-note/out/_minted-source_code_test
/simple-note/out/_minted-example_programming_fsm1
